a {
    text-decoration: none;
}

/* a:visited {
    color: green;
} */

.event-card-container {
    margin: 10px;
}

.event-card {
    width: 330px;
    /* width: 100%; */
    background-color: white;
    overflow: hidden;
    height: 330px;
}

.event-card:hover {
    box-shadow: 1px 1px 20px -10px rgba(0, 0, 0, 0.2),
                -1px 1px 20px -10px rgba(0, 0, 0, 0.2);
}

.event-card__bookmark-button-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.event-card__data {
    position: relative;
    bottom: 25px;
    width: 225px;
    margin-left: 15px;
    /* z-index: -1; */
}

.event-card__image {
    width: 100%;
    height: 190px;
}

.event-card__organizer {
    color: #6f7287
}

.event-card__start-time {
    color: #d1410c;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.event-card__title {
    box-sizing: border-box;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 4px;
    color: black;
}
