.event-card {
    width: 200px;
    background-color: white;
    border: black solid 2px;
    padding: 5px 10px;
    margin: 5px;
    overflow: hidden;
    /* height: 300px; */
}


.event-card .bookmark-button {
    /* background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; */
    position: relative;
    bottom: 30px;
}

.event-card__image {
    width: 100%;
    height: 100%;
}
