a {
    text-decoration: none;
}

.event-card {
    width: 270px;
    background-color: white;
    border: black solid 2px;
    padding: 5px 10px;
    margin: 5px;
    overflow: hidden;
    height: 300px;
}

.event-card__data {
    position: relative;
    bottom: 30px;
}

.event-card__image {
    width: 100%;
    height: 100%;
}

.event-card__start-time {
    color: orange;
}

.event-card__title {
    font-weight: bold;
    text-decoration: underline;
}
