/* .profile-dropdown {
    color: gold;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow: visible;
} */

/* .profile-dropdown li a {
    color: gold;
} */

/* .profile-button__li-navlink {
    background-color: rgb(199, 55, 199);
    border: 1px solid gold;
} */