.footer {
    display: flex;
    flex-direction: column;
    background-color: #1E0A3C;
    border-top: #4B4D63 solid 6px;
    width: 100%;
    height: 100%;
}

.footer--container {
    display: flex;
    flex-direction: column;
}

.footer a {
    color: #a19fb0;
    font-size: 14px;
    margin-left: 60px;
    width: 80px;
}

.footer--title {
    color: #A9A8B3;
    margin-top: 30px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 16px;
}