@import '../../fonts/font-stylesheet.css';

.event-card-display--category-bar {
    display: flex;
}

.event-card-display {
    background-color: rgb(245, 245, 245);
}

.event-card-display--grid {
    display: flex;
    /* background-color: rgb(86, 11, 98); */
    flex-flow: row wrap;
}

.event-card-display--tabs-container {
    display: flex;
    padding-left: 0px;
}

.event-card-display--tab {
    font-size: 16px;
}

.event-card-display--title {
    font-family: 'League Spartan Bold', 'Helvetica', serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .5px;
    line-height: 40px;
}