.bookmark-button {
    /* background-color: white;
    border: 1px solid grey;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; */
    /* position: static; */
    /* bottom: 20px; */
    /* color: #d1410c; */

    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    /* font-size: 14px; */
}

.bookmark-button:hover {
    background-color: #f8f7fa;
}

.bookmark-button > .fas {
    color: #d1410c;
}

.bookmark-button.border-grey {
    border: 1px solid grey;
}