/* TODO Add site wide styles */

* {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
}

button {
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    height: 44px;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 3px;
}

.btn-primary {
    background-color: #D1410C;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #F05537;
}


.btn-secondary {
    background-color: white;
    color: #39364F;
    border: 2px solid #A9A8B3;
}

.btn-secondary:hover {
    border-color: #6F7287;
}

.page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;

}

ul {
    list-style-type: none;
}
