@import '../../fonts/font-stylesheet.css';

.nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    height: 50px;
    /* position: fixed; */
    padding-inline-start: 0px;
    /* overflow: hidden; */
}


.nav__button_container {
    display: flex;
}

.nav__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: black;
}

.nav__button:hover,
.dropdown:hover,
.dropdown__content-item:hover {
    background-color: #F6F5F8;
}

.nav__button--create_event,
.nav__button--demo {
    color: #3D64FF;
}

/* .nav__button--likes, .nav__button--tickets {
    color: black;
} */

.nav__button i {
    font-size: 20px;
    margin: 5px;
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav__logo__text {
    display: flex;
    justify-content: flex-start;
    align-content: center;

    color: #d1410c;
    font-size: 24px;
    font-family: "SF New Republic Bold", sans-serif;
}

.nav__search-container {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.nav__search {
    box-sizing: border-box;
    width: 200px;
    border: 2px #F6F5F8 solid;
    background-color: #F6F5F8;
    color: #D4D3DA;
    display: flex;
    padding: 10px;
}

.nav__search--border_on_focus {
    box-sizing: border-box;
    border: 2px blue solid;
}

.nav__search--box {
    box-sizing: border-box;
    border: none;
    background-color: #F6F5F8;
    color: black;
    font-size: 16px;
    outline: none;
    margin-left: 3px;
}



/*
@font-face {
    font-family: "Mayeka Demi Bold";
    src: url("../../fonts/mayeka/Mayeka\ Demi\ Bold\ Demo.otf") format("opentype"),
  } */

  .dropdown {
      /* overflow: visible; */
      float: right;
      position: relative;
      cursor: pointer;
      /* bottom: 50px; */

  }

  .dropdown__text {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dropdown__username {
    margin-left: 10px;
    margin-right: 10px;
  }

.dropdown__content {
    display: none;
    overflow: visible;
}

.dropdown__content-item {
    width: inherit;
    padding: 10px;
    background-color: white;
    color: black;
}

.dropdown:hover .dropdown__content {
    display: flex;
    flex-direction: column;
    overflow: visible;
    /* z-index: 2; */
}
