@import '../../fonts/font-stylesheet.css';

.nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-content: center;

}

.nav__logo__text {

    display: flex;
    justify-content: center;
    align-content: center;

    color: #d1410c;
    font-size: 30px;
    font-family: "SF New Republic Bold", sans-serif;
}

.nav__search {
    background-color: #F6F5F8;
    color: #D4D3DA;
    display: flex;
    padding: 10px;
}

.nav__search--border_on_focus {
    border: 2px blue solid;
}

.nav__search--box {
    border: none;
    background-color: #F6F5F8;
    color: #D4D3DA;
    font-size: 16px;
    outline: none;
}


/*
@font-face {
    font-family: "Mayeka Demi Bold";
    src: url("../../fonts/mayeka/Mayeka\ Demi\ Bold\ Demo.otf") format("opentype"),
  } */